@import "@tailwindcss/postcss";

/* Custom base styles */
@layer base {
  :root {
    --foreground: 0 0 0;
    --background: 255 255 255;
  }
  
  body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
  }
}

.root-main-layout {
  background-image: url('/background.webp');
  background-size: cover;
  box-shadow: inset 0px 0px 0px 1px rgba(26, 26, 0, 0.16);
}

.auth-layout {
  min-height: calc(100vh - 300px);
  backdrop-filter: blur(10px);
}