@import "tailwindcss";

/* Nuclear option - force layer order */
@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

:root {
  --foreground: 0 0 0;
  --background: 255 255 255;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.not-found-page {
  backdrop-filter: blur(10px);;
}

.error-page {
  backdrop-filter: blur(10px);
}

.root-main-layout {
  background-size: cover;
  box-shadow: inset 0px 0px 0px 1px rgba(26, 26, 0, 0.16);
}

.auth-layout {
  min-height: calc(100vh - 300px);
  backdrop-filter: blur(10px);
}